{% load humanize %}
<p>Queued: {{ queued }}</p>
<table class="table">
    <thead>
      <tr>
        <th>Task</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Arguments</th>
        <th>Progress</th>
      </tr>
    </thead>

    <tbody>
  {% for task in tasks %}
   <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.started | naturaltime }}</td>
      <td>{{ task.stopped | naturaltime }}</td>
      <td>{{ task.args }}</td>
      <td>
            <div id="result-modal-{{task.name}}" class="modal">
              <div class="modal-background"></div>
              <div class="modal-content">
                <div class="box">
                  <p>Result</p>
                  <pre>{{ task.result }}</pre>
                </div>
              </div>
            
              <button class="modal-close is-large" aria-label="close"></button>
            </div>
            {% if task.success %}
            <div class="icon-text">
              <span class="icon has-text-success js-modal-trigger" data-target="result-modal-{{task.name}}">
                <i class="fa fa-check"></i>
              </span>
            </div>
            {% else %}
            <div class="icon-text">
              <span class="icon has-text-warning js-modal-trigger" data-target="result-modal-{{task.name}}">
                <i class="fa fa-exclamation-triangle"></i>
              </span>
            </div>
            {% endif %}
      </td>
   </tr>
  {% endfor %}
</tbody>
</table>